<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="menu">
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div th:replace="~{top::menu}"></div>
<div align="center">

    <div class="container">
        <div class="page-header">
            <h2 th:text="${'검색정보'}"></h2>
        </div>
        <div class="table-card">
            <table class="검색한 도서 정보를 확인하세요" border="2" width="1000px" align="center">
                <tr>
                    <th>책번호</th>
                    <th>도서명</th>
                    <th>작가명</th>
                    <th>도서소개</th>
                </tr>
                <tr th:each="bb:${list}">
                    <td th:text="${bb.bunho}"> </td>
                    <td th:text="${bb.name}"> </td>
                    <td th:text="${bb.writer}"> </td>
                    <td th:text="${bb.info}"> </td>
                </tr>
            </table>
        </div>
    </div>


</div>
</body>
</html>